.create-voucher-container {
    height: 100vh;
    
    .body {
        padding: 20px 20% 100px 20%;
        background-color: #fff;
        height: 100%;
        overflow-y: auto;

        .voucher-basic-infor, .voucher-setup-infor, .product-apply {
            border: 1px solid #3CB371;
            background-color: #F0F0F0;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;

            .title-component {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .basic-form {
                display: flex;
                flex-direction: column;
            }

            .basic-content {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;

                &:last-child {
                    margin-right: 0;
                }

                .label-content {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .input-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    input[type='text'], input[type='number'], input[type='datetime-local'] {
                        padding: 5px;
                        border: 1px solid #3CB371;
                        background-color: #fff;
                        border-radius: 5px;
                        color: #000;
                        margin-right: 10px;
                        width: 100%;
                    }

                    .input-select {
                        width: 100px;
                        margin-top: 10px;
                    }
                }

                select {
                    padding: 5px;
                    border: 1px solid #3CB371;
                    background-color: #fff;
                    border-radius: 5px;
                    color: #000;
                    margin-right: 10px;
                }

                .time-inputs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        .product-apply {
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: #F0F0F0;
                color: #fff;
                border-bottom: 1px solid #ccc;

                .close-btn {
                    background-color: #F0F0F0;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    cursor: pointer;
                }
            }

            .filter-section {
                padding: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                background-color: #F0F0F0;
                border-bottom: 1px solid #000;

                label {
                    color: #000;
                    font-weight: bold;
                    margin-right: 5px;
                }

                select, input[type="text"] {
                    padding: 5px;
                    border: 1px solid #3CB371;
                    background-color: #fff;
                    border-radius: 5px;
                    color: #000;
                }

                .search-btn, .reset-btn {
                    background-color: #007bff;
                    color: #fff;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .checkbox-label {
                    display: flex;
                    align-items: center;
                    color: #fff;

                    input[type="checkbox"] {
                        margin-right: 5px;
                    }
                }
            }

            .product-list {
                padding: 10px;
                background-color: #e6f8f8;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    
                    th, td {
                        text-align: center;
                        padding: 10px;
                        border: 1px solid #000;
                        color: #000;
                    }

                    th {
                        background-color: #20B2AA;
                    }

                    .no-product {
                        text-align: center;
                        color: #000;

                        .no-product-icon {
                            background: no-repeat center center;
                            width: 50px;
                            height: 50px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .cancel-btn,
        .save-btn,
        .delete-btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            color: #fff;
    
            &:last-child {
                margin-right: 0;
            }
        }

        .cancel-btn {
            background-color: #ff5c5c;

            &:hover {
                background-color: #ff3333;
            }
        }

        .delete-btn {
            background-color: #ee0a0a;

            &:hover {
                background-color: #ff3333;
            }
        }

        .save-btn {
            background-color: #20B2AA;

            &:hover {
                background-color: #3CB371;
            }
        }

        .select-btn {
            background-color: red; /* Màu đỏ mặc định */
            color: white;
            padding: 5px 10px;
            border: none;
            border-radius: 50%;

        }

        .selected {
            background-color: green; /* Màu xanh khi đã chọn */
            color: white; /* Màu chữ trắng */
        }
    }
}
