.homepage-container {
    height: 100vh;
    overflow: hidden; // Ngăn chặn trang web cuộn

    .body-container {
        display: flex;
        height: 100%; // Sử dụng chiều cao 100% của homepage-container
        overflow-y: auto; // Cho phép cuộn nếu cần

        .left-sidebar {
            width: 16%;
            min-width: 200px;
            background-color: #f0f0f0;
            overflow-y: auto;
        }

        .main-content {
            width: 60%;
            min-width: 400px;
            background-color: #fff;
            padding: 10px;
            position: relative;

            .marketing-channel-container {
                overflow-y: auto;
                height: calc(100% - 20px - 40px); // 20px cho padding và 40px cho phần title và tab-header
            }
        }

        .right-sidebar {
            width: 24%;
            min-width: 200px;
            background-color: #f0f0f0;
            overflow-y: auto;
        }
    }
}
