.homepage-seller-container {
    height: 100vh;

    .body-container {
        display: grid;
        grid-template-columns: minmax(200px, 16%) minmax(400px, 60%) minmax(200px, 24%);
        grid-template-rows: min-content; /* Thiết lập chiều cao tự động phù hợp với nội dung */
        overflow-y: auto;
        max-height: 100vh;

        .left-sidebar {
            position: sticky;
            top: 0;
            height: 100vh;
            background-color: #f0f0f0;
            overflow-y: auto;
            z-index: 1; 
        }

        .main-content {
            min-width: 400px;
            background-color: #fff;
            padding: 10px;
            position: relative;
            margin-bottom: 60px;
        }

        .right-sidebar {
            min-width: 200px;
        }
    }
}
