.order-item {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #000;

    &:last-child {
        border-bottom: none;
    }

    .general-order-information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .delivery-information,
        .order-information {
            flex: 1;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 4px;
            margin-right: 20px;

            h3 {
                margin-top: 0;
            }

            label {
                display: flex;
                margin-bottom: 10px;

                .label-name {
                    width: 50%;

                    span {
                        font-weight: bold;
                    }
                }

                .label-content {
                    width: 50%;
                    overflow-wrap: break-word; 
                }
            }
        }

        .order-information {
            margin-right: 0;
        }
    }

    .product-information {
        h3 {
            margin-bottom: 20px;
        }

        .product-table {
            width: 100%;
            overflow-x: auto;
        }
    }

    .action-btn {
        text-align: right;

        .payment-info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border: 1px solid #20B2AA;
            border-radius: 8px;
            padding: 10px;
            background-color: #f9f9f9;
            //width: 100%;
            max-width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .payment-section {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer
        }
        
        .payment-logo {
            margin-right: 15px;
            width: 50px;
            height: 50px;
            background-image: url('../assets/images/Logo-MoMo-Circle.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            overflow: hidden;
        }
        
        .payment-details {
            display: flex;
            flex-direction: column;
        }
        
        .payment-title {
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }
        
        .payment-subtitle {
            font-size: 14px;
            color: #666;
        }

        .cancel-order-button,
        .confirm-order-button,
        .cancel-request-order-button,
        .return-refund-order-button  {
            color: #fff;
            border: none;
            padding: 8px 16px;
            margin-left: 10px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .cancel-order-button, 
        .return-refund-order-button{
            background-color: #ff5c5c;

            &:hover {
                background-color: #ff3333;
            }
        }

        .confirm-order-button {
            background-color: #20B2AA;

            &:hover {
                background-color: #3CB371;
            }
        }

        .cancel-request-order-button {
            color: #444;
            background-color: #ddd;
            cursor: not-allowed;
        }
    }
}
