.container {
    font-family: Arial, sans-serif;

    .delivery-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;

        .content-section {
            margin-bottom: 20px;

            .label-container {
                margin-bottom: 10px;

                .label-name {
                    font-weight: bold;
                    font-size: 15px;
                }
            }

            .content-container {
                display: flex;
                align-items: center;

                .price-input {
                    width: 600px;
                    height: 40px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding-right: 40px;
                    margin-right: 10px;
                }

                .price-input::-webkit-inner-spin-button,
                .price-input::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                    margin: 0;
                }

                .unit {
                    font-weight: bold;
                }

                .multiply-icon {
                    padding: 10px;
                }

                .delivery-table {
                    width: 100%;

                    .delivery-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 10px;
                        background-color: #fff;
                        border: 1px solid #ccc;

                        .label-delivery-name {
                            //flex: 1;
                            padding: 10px;
                            border-right: 1px solid #ccc;
                            background-color: #ccc;
                            width: 100%;
                        }

                        .content-delivery {
                            //flex: 2;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: #fff;
                            width: 100%;

                            .name {
                                font-weight: bold;
                            }

                            button {
                                padding: 5px 10px;
                                border: none;
                                background-color: #000;
                                color: #fff;
                                cursor: pointer;
                                border-radius: 30px;
                                width: 150px;

                                &:hover {
                                    background-color: #0056b3;
                                }

                                .fa-check-circle {
                                    color: green;
                                    margin-right: 5px;
                                  }
                                  
                                  .fa-times-circle {
                                    color: red;
                                    margin-right: 5px;
                                  }
                            }
                        }
                    }
                }
            }
        }
    }
}
