.container {
    .classification-container {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        
    
        .label-name {
            font-size: 15px;
            font-weight: bold;
            width: 195px;
            display: flex;
            justify-content: end;
            margin-right: 10px;
        }
    
        .add-classification {
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #4caf50;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 3px;
            width: 195px;
    
            .icon {
                margin-right: 5px;
            }
    
            .text {
                font-size: 14px;
                font-weight: bold;
            }
        }
    
        .classify-group{
            width: 100%;

            .additional-info,
            .additional-info2 {
                margin-bottom: 20px;
                display: none;
                padding-top: 10px;

                h3 {
                    font-weight: bold;
                    font-size: 20px;
                }

                .close-icon,
                .close-icon2 {
                    position: relative;
                    top: -10px;
                    left: 100%;
                    cursor: pointer;
                    font-size: 20px;
                    color: #555555;
                    background: transparent;
                    border: none;
            
                    &:hover {
                        color: #333333;
                    }
                }
        
                &.show {
                    display: block;
                }
                background-color: #f9f9f9;
                padding: 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
                width: 100%;
        
                .input1-container {
                    input[type='text'] {
                        width: 100%;
                        height: 40px;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 14px;
                    }

                    .error-message {
                        color: red;
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }
        
                .input2-container {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '';
                        flex: 1;
                        height: 1px;
                        background-color: #ccc;
                        margin-right: 10px;
                    }
        
                    .image-upload {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
        
                        .upload-icon {
                            cursor: pointer;
                            font-size: 18px;
                            color: #aaa;
                            margin-right: 5px;
                        }
                    }
        
                    .input2-list {
                        width: calc(100% - 40px);
        
                        .input2-item {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #ccc;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            width: 50%;
        
                            input[type='text'] {
                                flex: 1;
                                height: 40px;
                                padding: 10px;
                                border: none;
                                font-size: 14px;
        
                                &:focus {
                                    outline: none;
                                }
                            }

                            .image-preview {
                                width: 50px;
                                height: 50px;
                                overflow: hidden;
                                margin-right: 10px;
                        
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
        
                            .input2-actions {
                                margin-left: 10px;
        
                                .disabled-icon,
                                .delete-icon,
                                .upload-icon {
                                    cursor: pointer;
                                    font-size: 18px;
                                    color: #aaa;
                                }
        
                                .disabled-icon:hover,
                                .delete-icon:hover,
                                .upload-icon:hover {
                                    color: #333;
                                }
        
                                .disabled-icon,
                                .delete-icon {
                                    margin-right: 5px;
                                }
                            }
                        }
        
                        .input2-item:last-child {
                            border-bottom: none;
                        }
                    }
        
                    button {
                        margin-top: 10px;
                        padding: 10px 20px;
                        font-size: 14px;
                        border: none;
                        background-color: #000;
                        color: #fff;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        width: 135px;
        
                        &:hover {
                            background-color: #0056b3;
                        }
                    }
                }
            }

            .add-classification2 {
                cursor: pointer;
                display: flex;
                align-items: center;
                background-color: #4caf50;
                color: #ffffff;
                padding: 5px 10px;
                border-radius: 3px;
                width: 140px;
        
                .icon {
                    margin-right: 5px;
                }
        
                .text {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .product-table {
                margin-top: 20px;
            
                table {
                    width: 100%;
                    border-collapse: collapse;
            
                    th, td {
                        border: 1px solid #000;
                        padding: 8px;
                        text-align: center;
                    }
            
                    th {
                        background-color: #f2f2f2;
                    }
                    
                    .row-content {
                        
                        td {
                            .content-classification{
                                border-bottom: 1px solid #ddd;
                                height: 65px;
                                padding: 10px;

                                p {
                                    margin-top: 20px;
                                }
                                
                                .input {
                                    width: calc(100% - 30px); // Chiều rộng của input trừ đi chiều rộng của biểu tượng tiền tệ
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px 0 0 5px; // Bo tròn góc ở bên trái
                                }

                                input::-webkit-inner-spin-button,
                                input::-webkit-outer-spin-button{
                                    -webkit-appearance: none;
                                    margin: 0;
                                }
                                
                                .currency-icon {
                                    display: inline-block;
                                    width: 30px;
                                    padding: 10px;
                                    background-color: #ccc;
                                    border: 1px solid #ccc;
                                    border-radius: 0 5px 5px 0; // Bo tròn góc ở bên phải
                                }
                            }

                        }

                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
            
        }
    }
    .price-product,
    .quantity-product {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    
        .price-label,
        .quantity-label {
            margin-right: 10px;
            font-weight: bold;
            width: 145px;
            display: flex;
            justify-content: end;
        }
    
        .price-input,
        .quantity-input {
            flex-grow: 1;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .price-input::-webkit-inner-spin-button,
        .price-input::-webkit-outer-spin-button,
        .quantity-input::-webkit-inner-spin-button,
        .quantity-input::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    
        .currency-icon {
            margin-right: 10px;
            margin-left: -20px;
            font-size: 16px;
        }
    }
    .discount,
    .size-table {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        
    
        label {
            font-size: 15px;
            margin-right: 10px;
            font-weight: bold;
            display: flex;
            justify-content: end;
            width: 145px;
        }
    
        .add-discount,
        .add-size-table,
        .create-size-table {
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #4caf50;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 3px;
            margin-right: 10px;
    
            .icon {
                margin-right: 5px;
            }
    
            .text {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .discount {
        .discount-table {
            margin-top: 20px;
        
            table {
                width: 100%;
                border-collapse: collapse;
        
                th, td {
                    border: 1px solid #000;
                    padding: 8px;
                    text-align: center;
                }

                .discount-row {
                    background-color: #f2f2f2;
                }

                .discount-row-content {
                        
                    td {
                        height: 65px;
                        padding: 10px;

                        input::-webkit-inner-spin-button,
                        input::-webkit-outer-spin-button{
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        input {
                            width: calc(100% - 30px);
                            padding: 2px;
                            border: 1px solid #ccc;
                            border-radius: 5px 0 0 5px;
                        }
                        .input-with-icon{

                            
                            .currency-icon {
                                display: inline-block;
                                width: 30px;
                                padding: 2px;
                                background-color: #ccc;
                                border: 1px solid #ccc;
                                border-radius: 0 5px 5px 0;
                            }
                        }

                    }
                }

                .button-discount {
                    display: flex;
                    flex-direction: row;

                    .add-row,
                    .cancel-discount {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        color: #ffffff;
                        padding: 10px 10px;
                        width: 50%;

                        .text {
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }


                    .add-row {
                        background-color: #4caf50;
                    }

                    .cancel-discount {
                        background-color: #000;
                    }
                }
            }
        }
    }

    .size-table {
        label {
          font-weight: bold;
          margin-bottom: 10px;
        }
      
        .add-size-table {
          cursor: pointer;
          margin-bottom: 10px;
      
          .icon {
            margin-right: 5px;
          }
        }
      
        .create-size-table {
          cursor: pointer;
          margin-bottom: 10px;
      
          .icon {
            margin-right: 5px;
          }
        }
      
        .popup-container {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 999;
      
          .popup-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
      
            h3 {
              margin: 0;
            }
      
            .close-icon {
              cursor: pointer;
            }
          }
      
          .popup-content {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
      
            .table-name-input {
              margin-bottom: 20px;
      
              label {
                display: block;
                margin-bottom: 5px;
              }
      
              input[type="text"] {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
              }
      
              .char-count {
                font-size: 12px;
                color: #888;
              }
            }
      
            .size-settings,
            .other-settings {
              margin-top: 20px;
      
              h4 {
                font-weight: bold;
                margin-bottom: 10px;
              }
      
              div {
                margin-bottom: 10px;
      
                input[type="checkbox"] {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
      
}