.section-categories-slider-top-search {
    margin: 50px;
    height: 370px;
    background: #181818;

    .section-container {
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .section-title {
            height: 60px;
            margin-bottom: 10px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
    
            .title-content-section {
                color: #78a206;
                font-size: 30px;
            }

            .seemore-link {
                color: white;
                font-size: 15px;
                margin-top: 15px;
                margin-right: 20px;

                &:hover {
                    color: #78a206;
                }
            }
    
        }

        .section-body{
            .section-customize {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                
                .bg-image-top-search {
                    width: 250px;
                    height: 250px;
                    border: 2px solid transparent;
                    background: url('../../../assets/images/t-shirt.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }
        
            .title-promotions-top-search {
                color: white;
                font-size: 20px;
                text-align: center;
                width: 250px;
                background-color: rgba(0, 0, 0, 0.5);
    
                .title-link {
                    text-decoration: none;
                    color: #fff;
                    
                    &:hover {
                        color: #78a206;
                    }
                }
            }

            .slick-prev {
                left: -60px !important;
                top: 120px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 30px !important;
                background: #000 !important;
                border: 2px solid #000 !important;
                opacity: 0.4;
            
                &:hover {
                    background: #2c2c2c !important;
                }
            }
            
            .slick-prev::before, .slick-next::before {
                font-family: 'Font Awesome' !important;
                color: white !important;
            }
            
            .slick-next {
                right: -60px !important;
                top: 120px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 30px !important;
                background: #000 !important;
                border: 2px solid #000 !important;
                opacity: 0.4;
                visibility: visible;
            
                &:hover {
                    background: #2c2c2c !important;
                }
            }

            .slick-list {
                margin-left: 50px;
            }
        }
    }
}
