.homepage-container {
    height: 100vh;
    background: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .homepage-header {
        width: 100%;
    }

    .homepage-body {
        width: 100%;
        box-sizing: border-box;
        overflow-y: auto; /* Cho phép lướt dọc khi cần */
    }

    .chatbot-popup {
        position: fixed;
        top: 66%;
        left: 87%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: calc(100% - 40px); /* Giới hạn chiều rộng tối đa */
        //background-color: #fff;
        //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        z-index: 1001; /* Đảm bảo hiển thị trên các phần tử khác */
        display: none; /* Mặc định ẩn popup */
    }

    .chatbot-popup.active {
        display: block; /* Hiển thị popup khi có class active */
    }

    .chatbot-popup-content {
        height: 500px; /* Chiều cao của nội dung popup */
        overflow-y: auto; /* Cho phép lướt dọc nội dung trong popup */
    }

    .chatbot-popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #777;
        font-size: 17px;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        }
        50% {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        100% {
            transform: scale(1);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
        }
    }
    
    .chatbot-icon-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #444;
        color: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1001;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s;
        animation: pulse 2s infinite;
    
        &:hover {
            background-color: #000;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.5), 0 0 60px rgba(0, 0, 0, 0.5);
        }
    
        .chatbot-icon {
            font-size: 24px;
        }
    }
    
}
